:root {
  --light_text: #c78eb2;
  --line: #d46bad;
  --background3: #5c374e;
  --dark_text: #16051d;
  --bacground: #3d2835;
  --background2: #4f2f43;
  --back_to_top: #4c1b39;
  --light: #c07ca6;
  --medium: #7a3961;
  --shadow: #240116;
  --button: #965f81;
  --cardback: #eeabd4;
  --button_hover: #c07ca6;
  --black: #000000;
  --answer: #a3688c;
}

body {
  margin: 0;
  font-family: "DM Serif Text", serif;
  background-color: var(--bacground);
  color: var(--light_text);
}

nav {
  color: var(--black);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: var(--background3);
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul a {
  text-decoration: none;
  color: var(--light_text);
  margin-inline-start: 3px;
}

nav ul li:first-child {
  margin-inline-end: auto;
  background-color: var(--button);
  padding: 10px 20px;
  font-size: 1.2rem;
  color: var(--dark_text) !important;
  font-weight: bolder;
  border-radius: 50px;
}

nav ul li:first-child a {
  color: inherit;
}

nav ul li:first-child:hover {
  background-color: var(--button_hover);
  box-shadow: 0px 1px 10px var(--shadow);
}

nav ul li {
  margin-inline-start: 20px;
  font-size: 1rem;
  font-weight: 600;
}

nav ul li:hover {
  font-size: 1.2rem;
}

.table_section {
  margin: 40px auto;
  padding: 20px;
  background-color: var(--background2);
  border-radius: 10px;
}

.table_title {
  font-size: 2rem;
  color: var(--light_text);
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: var(--button);
  color: var(--dark_text);
  font-weight: 600;
}

td {
  background-color: var(--background2);
}

.school_cell {
  background-color: var(--medium);
  color: var(--light_text);
  font-weight: bold;
}

footer {
  background-color: var(--background3);
  padding: 20px;
  text-align: center;
}

.closing_tag {
  color: var(--light_text);
  font-size: 2rem;
  font-weight: 800;
}

.footer_line {
  width: 100%;
  background-color: var(--line);
  height: 3px;
  margin: 10px 0;
}

.bottom {
  display: flex;
  justify-content: center;
}

.channel_container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.channel img {
  width: 30px;
  height: 30px;
}

.channel p {
  font-size: 1rem;
  color: var(--light_text);
  font-weight: 200;
}
